.char-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-image: url("../../../assets/logo-nobackground.png");
    background-repeat: no-repeat;
    background-position: top;
    color: white;
}

.char-img{
    width: 300px;
    height: 400px;
    transition: scale 0.5s ease-in-out;
}

.char-img:hover{
    scale: 1.1;
}

.char-container a{
    text-decoration: none;
    color: white;
}


.char-info a{
    border: 1px solid red;
    padding: 1.5rem;
    width: fit-content;
    border-radius: 1rem;
    margin: auto;

}

.char-info a:hover{
    background-color: rgba(243, 19, 19, 0.4);
}

.char-info .char-name{

    font-size: 20px;
}