.pag-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 2rem auto;

}
.btn-pag{
    width: fit-content;
    padding: 0 10px;
    border: none;
    background-color: rgb(198, 35, 35);
    border-radius: 1rem;
}
.btn-pag img{
    width: 20px;
    background-color: rgb(198, 35, 35);
    border-radius: 1rem;
}
.pag-container p{
    font-size: 16px;
    border: 1px solid rgb(198, 35, 35);
    border-radius: 1rem;
    padding: 8px;
}   

.pag-container .active{
    background-color: rgba(198, 35, 35, 0.5);
}