header{
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
    align-items: center;
    overflow: hidden;
    
}

header a {
    text-decoration: none;
    color: white;
}

.logo-img{
    width: 120px;
    transition: scale 500ms ease-in-out;
}

.logo-img:hover{
    scale: 1.2;
}

@media (min-width: 1024px) {
    header{
        padding-right: 10rem;
        padding-left: 10rem;
    }
}

